<?xml version="1.0" encoding="UTF-8"?>
<!-- xmlns = xml namespace -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- BeanNameUrlHandlerMapping는 잘 안 쓴다고 함 -->
	<bean id="default-handler-mapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
	<bean name="/di/hello.sp4" class="kosmo80.mvc.sp4.HelloController" />

	<!-- id 인스턴스변수라고 봐도 됨 -->
	<bean id="emp-controller" class="kosmo80.mvc.sp4.EmpController">
		<property name="methodNameResolver" ref="emp-resolver" />
		<property name="empLogic" ref="emp-logic" />
	</bean>

	<bean id="url-mapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<!-- setter 객체주입법같은거임 스펠링 틀리면 안 됨 -->
		<property name="mappings">
			<props>
				<!-- key는 유니크해야 함. emp-controller는 값 -->
				<prop key="/di/getEmpList.sp4">emp-controller</prop>
				<prop key="/di/empInsert.sp4">emp-controller</prop>
				<prop key="/di/empUpdate.sp4">emp-controller</prop>
				<prop key="/di/empDelete.sp4">emp-controller</prop>
			</props>
		</property>
	</bean>

	<bean id="emp-resolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<!-- value가 메서드 이름임 -->
				<prop key="/di/getEmpList.sp4">getEmpList</prop>
				<prop key="/di/empInsert.sp4">empInsert</prop>
				<prop key="/di/empUpdate.sp4">empUpdate</prop>
				<prop key="/di/empDelete.sp4">empDelete</prop>
			</props>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
